<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/repo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/branches.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_repos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/repo_empty.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.gif') }}">
    <title>SavelyHub · Git server</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-left">
            <h1 class="logo">
                <a href="{{ url_for('web.index') }}">SavelyHub</a>
            </h1>
        </div>

        <div class="nav-center">
            <form class="search-form" action="{{ url_for('web.search_repos') }}" method="GET">
                <div class="search-wrapper">
                    <span class="search-icon">🔍</span>
                    <input type="text" name="q" class="search-input"
                           placeholder="Поиск репозиториев..."
                           value="{{ request.args.get('q', '') }}">
                    <button type="submit" class="search-btn">Найти</button>
                </div>
            </form>
        </div>

        <div class="nav-right">
            {% if current_user.is_authenticated %}
                <div class="user-menu">
                    <a href="{{ url_for('web.user_repos', username=current_user.username) }}" class="username">{{ current_user.username }}</a>
                    <a class="logout-link" href="/logout">Выйти</a>
                </div>
            {% else %}
                <div class="auth-links">
                    <a class="btn-register" href="/register">Регистрация</a>
                    <a class="btn-login" href="/login">Войти</a>
                </div>
            {% endif %}
        </div>
    </nav>
</header>
<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>