<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/repo.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.gif') }}">
    <title>SavelyHub · Git server</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
</head>
<body>
<header>
    <nav class="navbar">
    <h1 class="logo">SavelyHub</h1>
    {% if current_user.is_authenticated %}
    <p><a class="navbar-brand" href="/logout">{{ current_user.username }}</a></p>
    {% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
    {% endif %}
    </nav>
</header>
<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>